[user]
	name = Patrick Carlisle
	email = pcarlisle@github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOqgbGyG27Uod7CuoYioIb2D23Hh9V2+hzRjLzOUAMSR
[core]
    excludesfile = /home/patrick/.gitignore
    whitespace = trailing-space,space-before-tab
    pager = delta

[interactive]
    diffFilter = delta --color-only

[color]
    ui = auto

[alias]
    review = log -p --reverse -M -C -C --patience --no-prefix
    review-topic = !sh -c 'git review ${1}^1..${1}^2' -
    view-topic = !sh -c 'git log --reverse ${1}^1..${1}^2' -
    lg = "log --pretty=format:'%C(yellow)%h%C(reset) %s %C(cyan)%cd%C(reset) %C(blue)%an%C(reset) %C(green)%d%C(reset)' --graph --date-order"
    ff = "pull --ff-only --ff"
    ra = "!f() { git remote add $1 git@github.com:$1/$(basename $(git config --local remote.origin.url)); git remote -v;}; f"
    raf = "!f() { git remote add $1 git@github.com:$1/$(basename $(git config --local remote.origin.url)); git fetch $1;}; f"
    fetch-pull = fetch origin refs/pull/${1}/head
    merge-pull = merge origin refs/pull/${1}/head
    edit = !sh -c 'vim `git diff --name-only ${1-HEAD~} ${2}`'
    ; pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    ; pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"

[merge]
    conflictstyle = diff3
    tool = extmerge

[mergetool "extmerge"]
    cmd = ~/bin/extmerge.sh \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"

[url "git@github.com:puppetlabs/"]
    insteadOf = puppetlabs:
[url "git@github.com:pcarlisle/"]
    insteadOf = pcarlisle:
[url "git@github.com:github/"]
    insteadOf = github:
[include]
	  path = ~/.gitconfig.local
[magit]
	hideCampaign = true
[push]
	default = simple
[delta]
    navigate = true
[diff]
    colorMoved = default
[github]
	user = pcarlisle
; [credential]
; 	helper = osxkeychain
; [hub]
	; protocol = ssh
; [url "git@github.com:"]
; 	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/local/bin/gh auth git-credential
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
